{##
#  @license 3-clause BSD
#  @link https://github.com/Directoki/Directoki-Core/blob/master/LICENSE.txt
##}


{% extends 'DirectokiBundle::base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block main %}


	<ol class="breadcrumb">
		<li><a href="{{ path('directoki_admin_project_list') }}">Admin</a></li>
		<li><a href="{{  path('directoki_admin_project_show', { 'projectId':project.publicId }) }}">Project: {{  project.title }}</a></li>
		<li class="active">Directory: {{  directory.titlePlural }}</li>
	</ol>

	<h1>Directory: {{  directory.titlePlural }}</h1>



	<a href="{{  path('directoki_admin_project_directory_record_list', { 'projectId':project.publicId,'directoryId':directory.publicId }) }}" class="btn btn-default">Records</a>
	<a href="{{  path('directoki_admin_project_directory_record_list_needing_attention', { 'projectId':project.publicId,'directoryId':directory.publicId }) }}" class="btn btn-default">Records Needing Attention</a>
	<a href="{{  path('directoki_admin_project_directory_fields', { 'projectId':project.publicId,'directoryId':directory.publicId }) }}" class="btn btn-default">Fields</a>

{%  endblock %}
