{##
#  @license 3-clause BSD
#  @link https://github.com/Directoki/Directoki-Core/blob/master/LICENSE.txt
##}


{% extends 'DirectokiBundle::base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block main %}


	<ol class="breadcrumb">
		<li><a href="{{ path('directoki_admin_project_list') }}">Admin</a></li>
		<li><a href="{{  path('directoki_admin_project_show', { 'projectId':project.publicId }) }}">Project: {{  project.title }}</a></li>
		<li><a href="{{  path('directoki_admin_project_directory_show', { 'projectId':project.publicId,'directoryId':directory.publicId }) }}">Directory: {{  directory.titlePlural }}</a></li>
		<li><a href="{{  path('directoki_admin_project_directory_record_show', { 'projectId':project.publicId,'directoryId':directory.publicId, 'recordId':record.publicId }) }}">Record: {{  record.publicId }}</a></li>
		<li class="active">New Note</li>
	</ol>

	<h1>New Note Record: {{   record.publicId }}</h1>

	<form class="styled" action="" method="post" {{ form_enctype(form) }}>
		{{ form_errors(form) }}

		{{ form_rest(form) }}

		<input type="submit" value="Save" />

	</form>


{%  endblock %}
