{##
#  @license 3-clause BSD
#  @link https://github.com/Directoki/Directoki-Core/blob/master/LICENSE.txt
##}


{% extends 'DirectokiBundle::base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block main %}


	<ol class="breadcrumb">
		<li>Project: {{  project.title }}</li>
		<li>Directory: {{  directory.titlePlural }}</li>
		<li>Records</li>
	</ol>

	<h1>Records</h1>



	{%  if  records %}
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Data</th>
				<th>State</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
			{%  for record in records %}
				<tr>
					<td>
						{{  record.publicId }}
					</td>
					<td>
						{{ record.cachedState }}
					</td>
					<td>
						<a href="{{  path('directoki_project_directory_record_show', { 'projectId':project.publicId,'directoryId':directory.publicId, 'recordId':record.publicId }) }}" class="btn btn-default">View</a>
					</td>
				</tr>
			{%  endfor %}
			</tbody>
		</table>
	{% else %}
		<p>You have no records</p>
	{% endif %}

	<a href="{{  path('directoki_project_directory_new_record', { 'projectId':project.publicId,'directoryId':directory.publicId }) }}" class="btn btn-default">New Record</a>


{%  endblock %}
