{##
#  @license 3-clause BSD
#  @link https://github.com/Directoki/Directoki-Core/blob/master/LICENSE.txt
##}


{% extends 'DirectokiBundle::base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block main %}


	<ol class="breadcrumb">
		<li>Project: {{  project.title }}</li>
		<li>Directory: {{  directory.title }}</li>
		<li class="active">New Email Field</li>
	</ol>

	<h1>Directory: {{  directory.title }} New Email Field</h1>


	<form class="styled" action="" method="post" {{ form_enctype(form) }}>
		{{ form_errors(form) }}

		{{ form_rest(form) }}

		<input type="submit" value="Save" />

	</form>

{%  endblock %}
